.os{
    width: 78%;
    background-color:rgb(20, 23, 83);

    margin: auto;
}
.nav-link {
    display: flex;
    height: 76px;
    background-color: brown;
}

.nav-link ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.nav-link ul li {
    font-size: 20px;
    font-weight: 400;
    padding: 18px;
    color: rgb(234, 235, 236);

}

.nav-link ul li a {
    text-decoration: none;
    color: rgb(30, 31, 32);

}

